<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Файловое хранилище</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1 class="mt-5">Файловое хранилище</h1>
    <div style="text-align: right;">
        <p class="user-display text-muted">
            Пользователь: <span class="text-primary" th:text="${nameUser}"></span>
        </p>
        <form action="/logout" method="post" style="margin-top: 10px;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Выйти</button>
        </form>
    </div>
    <!-- Форма для загрузки файла -->
    <form th:action="@{/files/upload}" method="post" enctype="multipart/form-data" class="mt-4">
        <input th:type="hidden" th:name="currentPath" th:value="${currentPath}">
        <div class="form-group">
            <label for="file">Выберите файл для загрузки:</label>
            <input type="file" name="file" id="file" class="form-control" required>
            <p th:text="${errorMessageMaxSize}" class="error-message" th:if="${errorMessageMaxSize}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Загрузить файл</button>
    </form>

    <!-- Таблица для отображения списка файлов -->
    <h2 class="mt-5">Список файлов</h2>

    <!-----------------------  Хлебные крошки ---------------------------  -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li th:each="breadcrumb : ${breadcrumbs}" class="breadcrumb-item">
                <a th:href="@{/(path=${breadcrumb.url})}" th:text="${breadcrumb.label}"></a>
            </li>
        </ol>
    </nav>


    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Имя файла</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td>
                <!--------------------------------Отображение папки----------------------------------->
                <span th:if="${file.getIsFolder()}">
                <a th:href="@{/(path=${file.getPath()})}" th:text="${file.getName()}"></a>
            </span>
                <!--------------------------------Отображение файла----------------------------------->
                <span th:if="${file.getIsFolder() == false}" th:text="${file.getName()}">
            </span></td>
            <!-----------------------------Переименование объекта-------------------------------------------------->
            <td>
                <span th:if="${file.getIsFolder()}">
                    <form id="renameFolderForm" th:action="@{/folders/update/{nameFile}(nameFile=${file.getName()})}" method="get">
                        <input type="hidden" name="isFolder" th:value="${file.getIsFolder()}"/>
                        <input th:type="hidden" th:name="currentPath" th:value="${currentPath}">
                        <button type="submit" class="btn btn-danger">Переименовать</button>
                    </form>
                </span>
                <span th:if="${file.getIsFolder() == false}">
                    <form id="renameFileForm" th:action="@{/files/update/{nameFile}(nameFile=${file.getName()})}" method="get">
                        <input type="hidden" name="isFolder" th:value="${file.getIsFolder()}"/>
                        <input th:type="hidden" th:name="currentPath" th:value="${currentPath}">
                        <button type="submit" class="btn btn-danger">Переименовать</button>
                    </form>
                </span>
            </td>
            <!-----------------------------Удаление объекта-------------------------------------------------->
            <td>
                <form id="deleteForm" th:action="@{/files/delete/{nameFile}(nameFile=${file.getName()})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input th:type="hidden" th:name="currentPath" th:value="${currentPath}">
                    <input type="hidden" name="isFolder" th:value="${file.getIsFolder()}"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
            <td>
                <form th:action="@{/download/}" method="get">
                    <input type="hidden" name="objectName" th:value="${file.getPath()}"/>
                    <button type="submit" class="btn btn-danger">Скачать</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!------------------------ Создание новой папки   ----------------------->
    <h2>Создание новой папки</h2>
    <form th:action="@{/newfolder}" method="post" enctype="multipart/form-data" class="mt-4">
        <input type="hidden" th:name="currentPath" th:value="${currentPath}">
        <div class="form-group">
            <input th:name="newNameFolder" id="newNameFolder" th:value="${nameFolder}" class="form-control" required>
            <p th:text="${errorMessage}" class="error-message" th:if="${errorMessage}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Создать папку</button>
    </form>

    <!-------------------------- Форма поиска   ------------------------->
    <h2>Поиск папок и файлов</h2>
    <form th:action="@{/search/}" method="get" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">

            <input type="text" name="query" id="query" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Найти</button>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>